<html>
<head>
    {% load static %}
    <title>Legal Entity Extraction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js">
  </script>

</head>
<style>

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  padding : 5px 15px;
}

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}
  #canvas_container {
      width: 800px;
      height: 450px;
      overflow: auto;
  }

  #canvas_container {
    background: #333;
    text-align: center;
    border: solid 3px;
  }
  .button {
      display: block;
      width: 115px;
      height: 25px;
      background: #4E9CAF;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      line-height: 25px;
  }
</style>
<body style="overflow-x:hidden;">

<nav class="navbar navbar-inverse navbar-expand-sm">
  <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'home' %}" style="position: relative;left: 80px;">Legal Entity Extraction</a>
</nav>

<div class="container-fluid" style="position: relative;top: 25px;">
        <form class="form-inline" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="file" name="files" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Upload</button>
            </div>
          </form>
<!--        <a href="media/data.json" target="_blank">JSON link</a>-->
        <br>
        <br>
        <div class="row">
          <div class="col-md-6" style="overflow-y: hidden;height: 580px;">
               <div id="my_pdf_viewer" style="position: relative;right: 60px;top: 42px;">
                <div id="canvas_container">
                    <canvas id="pdf_renderer"></canvas>
                </div>

                <div id="navigation_controls" style="position: relative;left: 214px;top: 10px;">
                    <button id="go_previous">Previous</button>
                    <input id="current_page" value="1" type="number"/>
                    <button id="go_next">Next</button>
                </div>

                <div id="zoom_controls" style="position: relative;left: 214px;top: 10px;">
                    <button id="zoom_in">+</button>
                    <button id="zoom_out">-</button>
                </div>
            </div>

            <script>
                var myState = {
                    pdf: null,
                    currentPage: 1,
                    zoom: 1
                }

                pdfjsLib.getDocument('media/{{filename}}').then((pdf) => {

                    myState.pdf = pdf;
                    render();

                });

                function render() {
                    myState.pdf.getPage(myState.currentPage).then((page) => {

                        var canvas = document.getElementById("pdf_renderer");
                        var ctx = canvas.getContext('2d');

                        var viewport = page.getViewport(myState.zoom);

                        canvas.width = viewport.width;
                        canvas.height = viewport.height;

                        page.render({
                            canvasContext: ctx,
                            viewport: viewport
                        });
                    });
                }

                document.getElementById('go_previous').addEventListener('click', (e) => {
                    if(myState.pdf == null || myState.currentPage == 1)
                      return;
                    myState.currentPage -= 1;
                    document.getElementById("current_page").value = myState.currentPage;
                    render();
                });

                document.getElementById('go_next').addEventListener('click', (e) => {
                    if(myState.pdf == null || myState.currentPage > myState.pdf._pdfInfo.numPages)
                       return;
                    myState.currentPage += 1;
                    document.getElementById("current_page").value = myState.currentPage;
                    render();
                });

                document.getElementById('current_page').addEventListener('keypress', (e) => {
                    if(myState.pdf == null) return;

                    // Get key code
                    var code = (e.keyCode ? e.keyCode : e.which);

                    // If key code matches that of the Enter key
                    if(code == 13) {
                        var desiredPage =
                        document.getElementById('current_page').valueAsNumber;

                        if(desiredPage >= 1 && desiredPage <= myState.pdf._pdfInfo.numPages) {
                            myState.currentPage = desiredPage;
                            document.getElementById("current_page").value = desiredPage;
                            render();
                        }
                    }
                });

                document.getElementById('zoom_in').addEventListener('click', (e) => {
                    if(myState.pdf == null) return;
                    myState.zoom += 0.5;
                    render();
                });

                document.getElementById('zoom_out').addEventListener('click', (e) => {
                    if(myState.pdf == null) return;
                    myState.zoom -= 0.5;
                    render();
                });
            </script>

          </div>
          <div class="col-md-6">
                <div id="exTab3">
                <ul  class="nav nav-pills">
                    <li>
                <a  href="#1b" data-toggle="tab">Raw Text</a>
                    </li>
                    <li class="active"><a href="#2b" data-toggle="tab">Entities</a>
                    </li>
                    <li><a href="#3b" data-toggle="tab">Summary & Changes</a>
                    </li>
                  <li><a href="#4b" data-toggle="tab">Signature</a>
                    </li>
<!--                  <li><a href="#5b" data-toggle="tab">Changes</a>-->
<!--                    </li>-->
                </ul>
                    <div class="tab-content clearfix">
                      <div class="tab-pane" id="1b">
                          <div style="overflow: auto; height: 450;">{{text}}</div>
                        </div>
                        <div class="tab-pane active" id="2b">
                          <table id="projectSpreadsheet" class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Parameter</th>
                                <th scope="col">Value</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% for i, j in form_text.items %}
                              <tr>
                                  <td>{{i}}</td>
                                <td>{{j}}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                          <a href="#" id="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">ExportToCSV</a>

                        </div>
                      <div class="tab-pane" id="3b">
                          <div style="overflow: auto; height: 450;">
                            <h3>Summary</h3>
                            <br>
                            {{summary}}
                            <br>
                            <br>
                            <h3>Changes</h3>
                            <table id="projectSpreadsheet1" class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Contents</th>
                                <th scope="col">Changes</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% for i, j in changes.items %}
                              <tr>
                                  <td>{{i}}</td>
                                <td>{{j}}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                          </div>
                        </div>
                      <div class="tab-pane" id="4b">
                          <div style="overflow: auto; height: 450;">
                            <h3>Signature</h3>
                            <img src="media/sign_img.png" alt="Signature" width="300" height="200">
                          </div>
                        </div>
<!--                      <div class="tab-pane" id="5b">-->
<!--                          <div style="overflow: auto; height: 450;">Changes</div>-->
<!--                        </div>-->
                      <script>

                        $(document).ready(function () {

                            function exportTableToCSV($table, filename) {

                                  var $rows = $table.find('tr:has(td),tr:has(th)'),

                                      // Temporary delimiter characters unlikely to be typed by keyboard
                                      // This is to avoid accidentally splitting the actual contents
                                      tmpColDelim = String.fromCharCode(11), // vertical tab character
                                      tmpRowDelim = String.fromCharCode(0), // null character

                                      // actual delimiter characters for CSV format
                                      colDelim = '","',
                                      rowDelim = '"\r\n"',

                                      // Grab text from table into CSV formatted string
                                      csv = '"' + $rows.map(function (i, row) {
                                          var $row = $(row), $cols = $row.find('td,th');

                                          return $cols.map(function (j, col) {
                                              var $col = $(col), text = $col.text();

                                              return text.replace(/"/g, '""'); // escape double quotes

                                          }).get().join(tmpColDelim);

                                      }).get().join(tmpRowDelim)
                                          .split(tmpRowDelim).join(rowDelim)
                                          .split(tmpColDelim).join(colDelim) + '"',



                                      // Data URI
                                      csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

                                      console.log(csv);

                                    if (window.navigator.msSaveBlob) { // IE 10+
                                      //alert('IE' + csv);
                                      window.navigator.msSaveOrOpenBlob(new Blob([csv], {type: "text/plain;charset=utf-8;"}), "csvname.csv")
                                    }
                                    else {
                                      $(this).attr({ 'download': filename, 'href': csvData, 'target': '_blank' });
                                    }
                              }

                              // This must be a hyperlink
                              $("#xx").on('click', function (event) {

                                  exportTableToCSV.apply(this, [$('#projectSpreadsheet'), 'export.csv']);

                                  // IF CSV, don't do event.preventDefault() or return false
                                  // We actually need this to be a typical hyperlink
                              });

                          });
                      </script>

<!--                        <div class="tab-pane" id="3b">-->
<!--                            <div id="tbl" style="overflow: auto;"></div>-->
<!--                                <script type="text/javascript" charset="utf-8">-->
<!--                                    d3.text("media/output.csv", function(data) {-->
<!--                                        var parsedCSV = d3.csv.parseRows(data);-->
<!--                                        var container = d3.select("#tbl")-->
<!--                                            .append("table").attr("class", "table table-bordered table-striped")-->
<!--                                            .append("tbody")-->
<!--                                            .selectAll("tr")-->
<!--                                                .data(parsedCSV).enter()-->
<!--                                                .append("tr")-->

<!--                                            .selectAll("td")-->
<!--                                                .data(function(d) { return d; }).enter()-->
<!--                                                .append("td")-->
<!--                                                .text(function(d) { return d; });-->
<!--                                    });-->

<!--                                </script>-->
<!--                            </div>-->
<!--                        </div>-->
            </div>
        </div>
    </div>
  <br>
  <br>
  <br>
<!--  <div class="row">-->
<!--    <div class="col-md-12" style="overflow: scroll;margin-top: 50px;">-->
<!--      <div id="tbl" style="overflow: auto;"></div>-->
<!--      <script type="text/javascript" charset="utf-8">-->
<!--        d3.text("media/output.csv", function(data) {-->
<!--            var parsedCSV = d3.csv.parseRows(data);-->
<!--            var container = d3.select("#tbl")-->
<!--                .append("table").attr("class", "table table-bordered table-striped")-->
<!--                .append("tbody")-->
<!--                .selectAll("tr")-->
<!--                    .data(parsedCSV).enter()-->
<!--                    .append("tr")-->

<!--                .selectAll("td")-->
<!--                    .data(function(d) { return d; }).enter()-->
<!--                    .append("td")-->
<!--                    .text(function(d) { return d; });-->
<!--        });-->
<!--      </script>-->
<!--      </div>-->
<!--    </div>-->
  </div>

</div>
</body>
<script src="{% static 'index.js'%}"></script>

</html>